html {
  font-size: 62.5%;
  box-sizing: border-box;
}
#root {
  height: 100%;
}
body {
  margin: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  background-color: #dcdcdc;
  -webkit-front-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  grid-gap: 1rem;
  height: 100vh;
}

header {
  grid-area: header;
  background-color: #203040;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: azure;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.top {
  align-items: flex-start;
}

.col-1 {
  flex: 1 1 25rem;
}

.col-2 {
  flex: 2 1 50rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff8000;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-top: 1rem;
}

header a {
  color: azure;
  padding: 1rem;
}

a.brand {
  font-size: 3rem;
  font-weight: bold;
  color: azure;
}

.row.center {
  justify-content: center;
}

img {
  border-radius: 0.5rem;
}

img.medium {
  max-width: 29rem;
  width: 100%;
}

.card {
  border: 0.1rem solid #c0c0c0;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}

.card-body {
  padding: 1rem;
}

.card-body > * {
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
  padding: 1rem 0;
}

h3 {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
  padding: 1rem 0;
}

.price {
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.rating {
  font-size: 1.2rem;
  color: #f0c040;
}

.rating span {
  color: #404040;
  margin: 0 0.5rem;
}

.success {
  color: #00ff00;
}

.error {
  color: #ff0000;
}

button {
  background-color: #ff8000;
  border: 0;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s ease-in-out;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: #ffc000;
  transform: scaleY(1.05);
  transition: cubic-bezier(0.215, 0.61, 0.355, 1);
  box-shadow: inset 0 0 0 1px #404040;
}

/* button.primary {
  background-color: #ffc000;
  color: #fff;
} */

button.block {
  display: block;
  width: 100%;
}

img {
  border-radius: 0.5rem;
}

img.medium {
  max-width: 29rem;
  width: 100%;
}

img.large {
  max-width: 50rem;
  width: 100%;
}
